<footer class="footer" role="contentinfo">
  <div class="region-footer">

		<!-- contact info -->
		<div class="block--footer-contact-info">
		<div class="block__content">
				<p>Frances Ink</p>
				<p><a href="#">(410) 793-7345</a></p>
				<p>555 Red Road Lane</p>
				<p>Alexandria, VA 22334</p>
				<p><a href="#">hello@frances.ink</a></p>
			</div>
		</div>

		<!-- search -->
		<div class="block--search">
			<div class="block__content">
				<form id="search-block-form">
					<div class="form-item form-item--search">
						<input class="form-item__search" id="edit-search" type="search">
					</div>
					<div class="form-actions">
						<a href="#" class="button">Search</a>
					</div>
				</form>
			</div>
		</div>

		<!-- copyright -->
		<div class="block--copyright-section">
			<p><strong>© Copyright</strong></p>
		</div>
</footer>
