<!-- navigation -->
<section class="footer-page">
	<div class="region-footer-page">
		<a href="#">
			<img class="site-logo___image" src="/themes/boom/logo.svg" alt="Home">
		</a>
		{% include "components-footer-menu" %}
		{% include "components-footer-menu" %}
		{% include "components-footer-menu" %}
	</div>
</section>
