<header class="header" role="banner">
  <div class="region-header">
		<a href="#">
			<img class="site-logo___image" src="/themes/boom/logo.svg" alt="Home">
		</a>
		{% include "components-site-name" %}
		{% include "components-main-menu" %}
  </div>
</header>
