<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #990000;"></span>
		<span class="sg-label">#990000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #670000;"></span>
		<span class="sg-label">#670000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #20208b;"></span>
		<span class="sg-label">#20208b</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3e9ab8;"></span>
		<span class="sg-label">#3e9ab8</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #effaff;"></span>
		<span class="sg-label">#effaff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #bec8cd;"></span>
		<span class="sg-label">#bec8cd</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f3f3f3;"></span>
		<span class="sg-label">#f3f3f3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>